@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add Engineer!</h2>

<h4>Add Engineer to machine: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select a engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list of machines", "Index")</p>