@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<h2>Add Flavor!</h2>

<h4>Add a Flavor for Treat: @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select a Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list of Treats", "Index")</p>