@{
  Layout = "_Layout";
}

@using Pierre.Models
@model Pierre.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This treat does not have any flavors associated with it.</p>
}
else
{
  <h4>Flavors this treat has:</h4>
  <ul>
  @foreach (TreatFlavor join in Model.JoinEntities)
    {
      <li>@join.Flavor.FlavorName</li>

    }
  </ul>
}

<p>@Html.ActionLink("Add a flavor to this treat", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit this Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete This Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to list of Treats", "Index")</p>
